$fade-time: 400ms;

*, *::before, *::after {
    box-sizing: border-box;
}

.carousel {
    min-width: 100%;
    height: 50dvh;
    position: relative;
    overflow: hidden;

    &>ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: $fade-time opacity ease-in-out;
    transition-delay: $fade-time;

    &[data-active=true] {
        z-index: 1;
        opacity: 1;
        transition-delay: 0ms;
    }

    &>.slide-content {
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;

        &>img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    
        &>.slide-text {
            display: block;
            position: absolute;
            inset: 0;
            width: 50%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.4);
            backdrop-filter: blur(5px);
            color: white;
        }
    }

}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    border-radius: 0.5rem;
    font-size: 4rem;
    color: rgba($color: white, $alpha: 0.5);
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 0 0.5rem;
    background-color: rgba($color: black, $alpha: 0.1);

    &:hover, :focus {
        color: white;
        background-color: #000000;
    }

    &.prev {
        left: 1rem;
    }

    &.next {
        right: 1rem;
    }
}