<section aria-label="Featured Content">
    <div class="carousel">
        <button class="carousel-button prev">&#8656;</button>
        <button class="carousel-button next">&#8658;</button>
        <ul>
            <li class="slide" data-active>
                
                <div class="slide-content">
                    <img src="assets/img/placeholder.jpg" alt="Slide 1">
                    <div class="slide-text">
                        <h3>Test</h3>
                        <p>This is a description of the slide</p>
                    </div>
                </div>
            </li>
            <li class="slide">
                <img src="assets/img/halo_infinite.png" alt="Slide 2">
            </li>
            <li class="slide">
                <img src="assets/img/doom.jpg" alt="Slide 3">
            </li>
        </ul>
    </div>
</section>