<div class="banner-container">
    <div class="banner">
        <img src="assets/img/placeholder.jpg" alt="banner image">
        <div class="banner-content">
            <h1>Game Title</h1>
            <p>Rating: XX</p>
        </div>
</div>
</div>
<h1>Screenshots</h1>
<div class="screenshot-grid">
    <div class="screenshot-container">
        <img src="assets/img/placeholder.jpg" alt="screenshot">
    </div>
    <div class="screenshot-container">
        <img src="assets/img/placeholder.jpg" alt="screenshot">
    </div>
    <div class="screenshot-container">
        <img src="assets/img/placeholder.jpg" alt="screenshot">
    </div>
    <div class="screenshot-container">
        <img src="assets/img/placeholder.jpg" alt="screenshot">
    </div>
    <div class="screenshot-container">
        <img src="assets/img/placeholder.jpg" alt="screenshot">
    </div>
    <div class="screenshot-container">
        <img src="assets/img/placeholder.jpg" alt="screenshot">
    </div>
    <div class="screenshot-container">
        <img src="assets/img/placeholder.jpg" alt="screenshot">
    </div>
    <div class="screenshot-container">
        <img src="assets/img/placeholder.jpg" alt="screenshot">
    </div>
    <div class="screenshot-container">
        <img src="assets/img/placeholder.jpg" alt="screenshot">
    </div>
    <div class="screenshot-container">
        <img src="assets/img/placeholder.jpg" alt="screenshot">
    </div>
    <div class="screenshot-container">
        <img src="assets/img/placeholder.jpg" alt="screenshot">
    </div>

</div>