nav {
    height: fit-content;
    width: 100%;
    background-color: var(--foreground_color1);
    justify-content: space-around;
}

ul {
    width: min(100ch, 100% - 4rem);
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    ul {
        width: 100%;
    }
}

.nav-button {
    display: block;
    padding: 8px 12px;
    border-bottom: solid 4px transparent;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    overflow: hidden;

    &:hover,
    &:focus-visible {
        background-color: rgba($color: gray, $alpha: 0.2);
        border-bottom-color: var(--highlight_color);
        color: var(--highlight_color);
        fill: var(--highlight_color);
    }

    // Click effect
    // &:after {
    //     content: "";
    //     background: white;
    //     display: block;
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translateX(-50%) translateY(-50%);
    //     padding-top: 350%;
    //     padding-left: 350%;
    //     border-radius: 50%;
    //     opacity: 0;
    //     transition: all 0.8s
    // }

    // &:active:after {
    //     padding: 0;
    //     margin: 0;
    //     opacity: 0.5;
    //     transition: 0s
    // }
}