* {
    box-sizing: border-box;
}

.scroller-container {
    margin-bottom: 1rem;
}

.media-scroller {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(33.334% - 0.667rem);
    column-gap: 1rem;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding-block: 1rem;
    transition: 200ms all ease-in-out;
}

.snap-inline {
    scroll-snap-type: inline mandatory;

    & > * {
        scroll-snap-align: start;
    }
}

@media only screen and (max-width: 700px) {
    .media-scroller {
        // grid-auto-columns: 48.75%;
        grid-auto-columns: calc(50% - 0.5rem);
    }
}

@media only screen and (max-width: 480px) {
    .media-scroller {
        grid-auto-columns: 100%;
    }
}

.media-element {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // background-color: #484848;
    background-color: var(--foreground_color1);
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    overflow: hidden;
    transition: 200ms all ease-in-out;


    &:hover {
        background-color: var(--foreground_color2);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 8px;
        cursor: pointer;
    }
}

.thumbnail {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.content {
    height: 100%;
    padding-inline: 1rem;
    padding-top: 1rem;
    color: white;

    & > h4 {
        font-size: 1.2rem;
    }

    & > p {
        font-size: 1rem;
    }
}

.game-platforms {
    padding-inline: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    & > img {
        margin-right: 0.5rem;
        width: 1.25rem;
        aspect-ratio: 1 / 1;
        object-fit: contain;
    }
    
}